<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Sipper.Properties.Settings>
      <setting name="MSGraphMZWindow" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ResultFilepath" serializeAs="String">
        <value/>
      </setting>
      <setting name="WorkflowParameterFilepath" serializeAs="String">
        <value/>
      </setting>
    </Sipper.Properties.Settings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OxyPlot" publicKeyToken="638079A8F0BD61E9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2013.1.52.1" newVersion="2013.1.52.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
