/zAzure
/HammerOrDeconSimplePeakDetector/Lib/*.dll
/HammerOrDeconSimplePeakDetector/Lib/*.pdb

/X86 3D FeatureFinding
!/X86 DeconTools Net 4/x86/Release
!/X86 DeconToolsWorkflows/x86/Release
/X86 DivideTargetsLibrary
/X86 GetPeaksDLL
/X86 GetPeaksLite
/X86 GlycolyzerEngineConsole
/X86 GlycolyzerGUI
/X86 GlycolyzerGUImvvm
/X86 HammerPeakDetector
/X86 HPC DLL
/X86 HPC DLL 2012
/X86 HPC_Connector_Submit
/X86 IQ
/X86 IQ2
/X86 IQGlyQ
/X86 Microsoft
/X86 NHibernate
/X86 NUnit Framework
/X86 OmniFinder/*.dll
/X86 OmniFinder/*.xml
/X86 OmniFinder/de
/X86 OmniFinder/es
/X86 OmniFinder/fr
!X86 OmniFinder/OmniFinder.dll
/X86 OrbitrapPeakDetection
X86 Run
/X86 TextToMass/Release/*.dll
/X86 TextToMass/Release/de
/X86 TextToMass/Release/es
/X86 TextToMass/Release/fr
!/X86 TextToMass/Release/GlycanTextToMass.dll
/X86 Thermo
/X86 UIMF Library
/FastDLL/X86*
/Fast DLL/X86*
/Fast DLL/X64*
GetPeaks2old
GetPeaks/GetPeaks 4.0/System.Data.SQLite.dll
GetPeaks/GetPeaks DLL/IMSCOMP.dll
GetPeaks/GetPeaks DLL/Interop.XRAWFILE2Lib.dll
GetPeaks/GetPeaks DLL/System.Data.SQLite.dll
GetPeaks/GetPeaks DLL/xerces-c_2_7.dll
GetPeaks/GetPeaks DLL/xerces-c_2_7D.dll
GetPeaks/GetPeaks.UnitTests/BaseCommon.dll
GetPeaks/GetPeaks.UnitTests/BaseDataAccess.dll
GetPeaks/GetPeaks.UnitTests/BaseError.dll
GetPeaks/GetPeaks.UnitTests/BaseTof.dll
GetPeaks/GetPeaks.UnitTests/IMSCOMP.dll
GetPeaks/GetPeaks.UnitTests/libalglib.dll
GetPeaks/GetPeaks.UnitTests/MassSpecDataReader.dll
GetPeaks/GetPeaks/IMSCOMP.dll
GetPeaks/GetPeaks/System.Data.SQLite.dll
GetPeaks/IQGlyQ_Console/MSFileReader.XRawfile2.dll
GetPeaks/Parallel/System.Data.SQLite.dll
GetPeaks2/IQGlyQ_Console/MSFileReader.XRawfile2.dll
/GlyQ-IQ_Sipper/Library
GenericComparer/LoaderProgram X86 2010/LoadProgram X86/LoadProgram X86/IMSCOMP.dll
GlyQ-IQ_Sipper/packages
GlyQ-IQ_Sipper/SipperLaunch/Release*
/GlyQIQViewer/Library
/GlyQIQViewer/packages
HPC_JobCreator/HPC_JobCreator/RegisterDLL/MSFileReader.XRawfile2.dll
/LoaderClassLibrary1DLL/MathNet DLL/MathNet.Iridium.dll
MSMS/MSMS DLL/IMSCOMP.dll
MSMS/MSMS DLL/System.Data.SQLite.dll
MSMS/MSMS DLL/xerces-c_2_7.dll
MSMS/MSMS DLL/xerces-c_2_7D.dll
NoiseFinder2/NoiseFinder/MyFirstDLL/xerces-c_2_7.dll
NoiseFinder2/NoiseFinder/MyFirstDLL/xerces-c_2_7D.dll
OrbitrapPeakDetector/OrbitrapPeakThresholder/Deisotoping/xerces-c_2_7.dll
OrbitrapPeakDetector/OrbitrapPeakThresholder/Deisotoping/xerces-c_2_7D.dll
/PeakDetector/Copy of DLLS
/PeakDetector/Copy of Test File
/PeakDetector/PeakDetector/xerces-c_2_7D.dll
/PeakDetector/PeakDetector/IMSCOMP.dll
/PeakDetector/PeakDetector/xerces-c_2_7.dll
/Synthetic Spectra Console/Synthetic Spectra Console/IMSCOMP.dll
Synthetic Spectra DLL X64 Net 4/Synthetic Spectra Console/Synthetic Spectra Console/IMSCOMP.dll
Synthetic Spectra DLL X64 Net 4/Synthetic Spectra DLL X64 Net 4/IMSCOMP.dll
/ToPIC
/ToGlycoGrid
X64 OmniFinder/de/MathNet.Iridium.resources.dll
X64 OmniFinder/es/MathNet.Iridium.resources.dll
X64 OmniFinder/fr/MathNet.Iridium.resources.dll
X64 OmniFinder/MathNet.Iridium.dll
X64 OmniFinder/PNNLOmics.dll
!/X86 UIMF Library/x64/Release
!/X86 UIMF Library/x86/Release
X86 YAFMS Library/IMSCOMP.dll
X86 YAFMSDB/ACPU/nunit.framework.dll
X86 YAFMSDB/ACPU/System.Data.SQLite.dll
X86 YAFMSDB/ACPU/YAFMS-DB-ACPU.dll.config
X86 YAFMSDB/X64/nunit.framework.dll
X86 YAFMSDB/X64/System.Data.SQLite.DLL
X86 YAFMSDB/X86/nunit.framework.dll
X86 YAFMSDB/X86/System.Data.SQLite.dll
X86 YAFMSDB/X86/YAFMS-DB-X86.dll.config
YAFMSConverter_Source_Code/Library/Interop.XRAWFILE2Lib.dll
YAFMSConverter_Source_Code/raw2yafms DLL/IMSCOMP.dll
YAFMSConverter_Source_Code/raw2yafms/IMSCOMP.dll
YAFMSConverter_Source_Code/raw2yafms/Interop.XRAWFILE2Lib.dll
YAFMSConverter_Source_Code/raw2yafms/XRawfile2.dll
YAFMS-DB/YAFMS-DB/X86 Working/YAFMS-DB-X86/YAFMS-DB-X86/System.Data.SQLite.dll
/Example_WorkDir_HPC/Example_WorkDir_ApplicationFiles.zip
/Example_WorkDir_HPC/Example_WorkDir_RawData.zip
/GlycolyzerGUImvvm2
/LoaderClassLibrary1DLL
/locks
/Run/Run/MSFileReader_Reference.pdf
/X86 DeconTools Net 4/Capture.PNG
/0_Libraries/L_Ant+2XyloseNeutralAlditol Info.txt
/0_Libraries/L_Ant+2XyloseNeutralAlditol.txt
/0_Libraries/L_AntLibraryDirectoryWorkAlditol_Xylose.txt
/0_Libraries/L_CellLibraryDirectoryWorkAlditol.txt
/0_Libraries/L_CellLibraryDirectoryWorkAlditolV2.txt
/0_Libraries/L_CellLibraryDirectoryWorkAlditolVmini.txt
/0_Libraries/L_CellLibraryNeutralAlditol Info.txt
/0_Libraries/L_CellLibraryNeutralAlditol.txt
/0_Libraries/L_CellLibraryNeutralAlditolV2 Info.txt
/0_Libraries/L_CellLibraryNeutralAlditolV2.txt
/0_Libraries/L_CellLibraryNeutralAlditolVmini Info.txt
/0_Libraries/L_CellLibraryNeutralAlditolVmini.txt
/0_Libraries/L_Hexose Info.txt
/0_Libraries/L_Hexose.txt
/0_Libraries/L_HexoseDirectoryWork.txt
/0_Libraries/L_13_Alditol_No_PSA_R.txt
/0_Libraries/L_13_HighMannose_TargetsFirstAll.txt
/0_Libraries/L_PSA21_LactoneOnly.txt
/0_Libraries/L_10_HighMannose_TargetsFirstAll.txt
/0_Libraries/L_10_PSA21_Cell_TargetsFirstAll_R.txt
/0_Libraries/L_PSA21_IQ_MuddimanH.txt
/0_Libraries/L_10_IQ_MuddimanTargetsH.txt
/0_Libraries/L_10_IQ_MuddimanTargetsL.txt
/0_Libraries/L_7 All NeAlditolSA16_I.txt
/0_Libraries/L_10_LibraryAlditol_I.txt
/0_Libraries/DB_Xylose_4_Alditol_Neutral.xml
/0_Libraries/GlycolyzerLibraryDirectorCDrive.txt
/0_Libraries/GlycolyzerLibraryDirectorEDrive.txt
/0_Libraries/L_AntLibraryDirectoryWorkAlditol_XyloseOnly_E.txt
/0_Libraries/DB_Xylose_15_Alditol_Neutral.xml
/0_Libraries/L_AntLibraryDirectoryWorkAlditol_XyloseOnly.txt
/0_Libraries/L_AntXyloseNeutralAlditol Info.txt
/0_Libraries/L_AntXyloseNeutralAlditol.txt
/0_Libraries/DB_Hexose_15_Alditol_Neutral.xml
/0_Libraries/L_HexoseDirectoryWork_E.txt
/0_Libraries/L_AntLibraryDirectoryWorkAlditol_Xylose_E.txt
/0_Libraries/DB_Ant_Alditol_15_Alditol_Neutral.xml
/0_Libraries/L_CellLibraryDirectoryWorkAlditolV2_E.txt
/0_Libraries/DB_Cell_Alditol_V2_15_Alditol_Neutral.xml
/0_Libraries/DB_NLinked_Alditol_PolySA_15_Alditol_Neutral.xml
/0_Libraries/L_7LibraryDirectoryAlditol+SA16 Work_E.txt
/0_Libraries/L_1DiagnosticIons Directory_E.txt
/0_Libraries/DB_NLinked_Alditol10_15_Alditol_Neutral.xml
/0_Libraries/L_10LibraryDirectoryAlditol Work_E.txt
/0_Libraries/L_1DiagnosticIons.txt
/0_Libraries/DiagnosticIons.xls
/0_Libraries/L_1DiagnosticIons Directory.txt
/0_Libraries/L_1DiagnosticIons Info.txt
/0_Libraries/L_6 All NeutralAldehyde Info.txt
/0_Libraries/L_6 All NeutralAldehyde.txt
/0_Libraries/L_6LibraryDirectoryWorkAldehyde.txt
/0_Libraries/L_7 All NeutralAlditol Info.txt
/0_Libraries/L_7 All NeutralAlditol.txt
/0_Libraries/L_7 All NeutralAlditol+2ndIsotope Info.txt
/0_Libraries/L_7 All NeutralAlditol+2ndIsotope.txt
/0_Libraries/L_7 All NeutralAlditol+SA16 Info.txt
/0_Libraries/L_7 All NeutralAlditol+SA16.txt
/0_Libraries/L_7LibraryDirectoryAlditol+SA16 Work.txt
/0_Libraries/L_7LibraryDirectoryWorkAlditol.txt
/0_Libraries/L_7LibraryDirectoryWorkAlditol+2nsIsotope.txt
/0_Libraries/L_8LibraryAlditol Info.txt
/0_Libraries/L_8LibraryAlditol.txt
/0_Libraries/L_8LibraryDirectoryWorkAlditol.txt
/0_Libraries/L_9LibraryAlditol Info.txt
/0_Libraries/L_9LibraryAlditol.txt
/0_Libraries/L_9LibraryDirectoryAlditol Work.txt
/0_Libraries/L_10_LibraryAlditol Info.txt
/0_Libraries/L_10_LibraryAlditol.txt
/0_Libraries/L_10LibraryDirectoryAlditol Work.txt
/0_Libraries/L_Ant+2XyloseHexNeutralAlditol.txt
