<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <supportedRuntime version="v2.0.50727"/>
      <supportedRuntime version="v4.0"/>
    </assemblyBinding>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
